body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.tile-image {
  float: left;
  height: 200px;
  margin: 20px;
}

.card {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 2.5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.violet {
  color: #191970;
}

@media (max-width: 660px) {
  .card {
    display: block;
    width: 100%;
    margin: 0;
  }

  .tile-image {
    width: 100%;
  }

  .logo {
    height: 30px;
  }

  h1 {
    text-align: center;
    font-size: 54pt;
  }

  p {
    font-size: 16pt;
    margin: 10px;
  }
}


