body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
    background-color: #F0ECE5;
}

/* Navbar*/
.navbar {
   height: 7vh;
   background-color: #363062;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1.5em;
}

.navlinks li {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
}

.navlinks li a {
    color: #D8D8D8;
    text-decoration: none;
}

.navlinks li a:hover {
    color: white;
}

.logo img {
    height: 2em;
    margin-left: 2em;
}

/* Footer */
.footer {
    width: 100%;
    bottom: 0;
    height: 15vh;
    background-color: #363062;
}

.footer hr {
    margin: 0 20%;
    margin-top: 0.5em;
    border-top: 0.25em none #F6B17A;
}

.footer p {
    color: #FFF;
    text-align: center;
}

/* Homepage */
.index-header {
    background: url(./assets//images/sky.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-header h1, .index-header h3 {
    color: #fff
}

.index-hero {
    height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.index-hero img {
    margin-top: 5vh;
    width: 20vh;
    height: auto;
    border-radius: 50%;
}

.index-hero p {
    margin: 0 3em;
}

.index-body {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 3em;
    grid-template-rows: 3em 1fr 1fr 3em;
    gap: 3em;
}

.skills {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.tools {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}


/* About page */
.about-body {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 3em;
    grid-template-rows: 3em 1fr 1fr 3em;
    gap: 3em;
}

.self-portrait {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.self-portrait img {
    max-width: 40vw;
    max-height: 70vh;
}

.description {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Projects Page */
.projects-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }

.projects-body p {
    margin: 0 20%;
    text-align: justify;
}